.chat-container{
    .chat {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        height: 70px;
        border-bottom: 1px solid #fafafa;
    
        .chat-details {
            flex: 1;
            
            h2 {
                height: 40px;
            }
        }
    
        .chat-details > p {
            color: gray;
        }
    
        .chat-timestamp {
            color: lightgray;
        }
    
        .chat-image {
            margin-right: 20px;
            height: 40px;
            width: 40px;
        }
    }
    
    a {
        text-decoration: none;
        color: inherit;
    }
}

.chat-icon{
    color: rgba(0, 0, 0, 0.54) !important;
}

.active {
    color: #109e92 !important;
}