.chatScreen-container{
    display: flex;
    justify-content: center;
    align-items: center;

    .chatScreen {
        box-shadow: 0px 0px 15px 5px #9b9b9b31;
        border-radius: 15px;
        min-height: 400px;
        width: 50%;
        margin-top: 20px;
        margin-bottom: 80px;

        .chatScreen-title {
            margin-top: 15px;
            text-align: center;
            font-size: 22px;
            font-weight: bold;
        }

        .chatScreen-timestamp {
            text-align: center;
            padding: 20px;
            color: gray;
            font-weight: 600;
        }
    
        .chatScreen-message {
            display: flex;
            align-items: center;
            padding: 20px;
            .chatScreen-text {
                overflow-wrap: break-word;
                max-width: 80%;
                margin-left: 10px;
                background-color: lightgray;
                padding: 15px;
                border-radius: 20px;
            }
    
            .chatScreen-textUser {
                overflow-wrap: break-word;
                max-width: 80%;
                margin-left: auto;
                background-color: #109e92;
                padding: 15px;
                border-radius: 20px;
                color: white;
            }
        }
    
        .chatScreen-input {
            border: 3px solid #109e92;
            margin-bottom: 10px;
            display: flex;
            position: absolute;
            bottom: 0;
            width: 50%;
    
            .chatScreen-inputField {
                flex: 1;
                padding: 10px;
                border: none;
                outline: none;
            }
            
            .chatScreen-inputButton {
                outline: none;
                padding-right: 10px;
                border: none;
                background-color: white;
                font-weight: 800;
                color: #109e92;
                cursor: pointer;
            }
        }
    }
}

