$maincolor: green;

.header {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
        height: 80px;
        object-fit: contain;
    }

    .profile-icon{
        color: rgba(0, 0, 0, 0.54) !important;
    }

    .active {
        color: #109e92 !important;
    }

}