.login {
    display: flex;
    justify-content: center;
    align-items: center;

    .login-container {
        .login-logo {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .login-form-container {
            display: flex;
            justify-content: center;
            align-items: center;
            .login-form {
                text-align: center;
                input {
                    margin: 7px auto 0px auto;
                    display: block;
                    width: 250px;
                    padding: 5px;
                    border-radius: 5px;
                }

                .error-message {
                    color: red;
                    margin-bottom: 30px;
                    margin-top: 7px;
                }
            }
        }
    }

    .button-container {
        .button {
            display: flex;
            justify-content: center;
            align-items: center;

            .login-button {
                background-color: white; 
                color: black; 
                border: 2px solid blue;
                border-radius: 15px;
                padding: 8px 16px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 4px 2px;
                transition-duration: 0.4s;
                cursor: pointer;  
            }

            .login-button:hover {
                background-color: blue;
                color: white;
              }
        }

        .login-p {
            margin-top: 15px;
            text-align: center;
            font-size: 22px;

            .login-span {
                color: blue;
                cursor: pointer;
            }
        }
    }
}