.swipeButtons {
    position: fixed;
    bottom: 6vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;

    .MuiIconButton-root{
        background-color: #FFFFFF;
        box-shadow: 0px 10px 53px 0px rgba(0,0,0,0.6) !important;
    }

    .swipeButtons-repeat {
        color: #f5b748 !important;
    }
    
    .swipeButtons-left {
        color: #ec5e6f !important;
    }

    .swipeButtons-star {
        color: #62b4f9 !important;
    }

    .swipeButtons-right {
        color: #76e2b3 !important;
    }

    .swipeButtons-lightning {
        color: #915dd1 !important;
    }
}