.swipeButtons {
    position: absolute;
    bottom: 30px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;

    @media (max-height: 700px) {
        bottom: 10px;
    }

    .MuiIconButton-root{
        background-color: #FFFFFF;
        box-shadow: 0px 10px 53px 0px rgba(0,0,0,0.6) !important;
    }

    .swipeButtons-repeat {
        color: #f5b748 !important;
    }
    
    .swipeButtons-left {
        color: #ec5e6f !important;
    }

    .swipeButtons-right {
        color: #109e92 !important;
    }
}